.center {
    max-width: 50%;
    margin: auto;
}
.center-text{
    max-width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.nav{
   display: block;
}
.second-div{
    border: 3px solid gray;
    margin-top: 30px;
    box-shadow: 0 0 20px;
    background-color: white;
}

.blur {
    height: 100%;
    max-width: 100%;
}

.blur-div {
    width: 100%; height: 250px;
}

li {
    line-height: 1.8;
    word-spacing: 2px;
}
body{
    margin-left: auto;
    margin-right: auto;
    background-color: #ECECEC;
}

img {
    width: 100px;
    height: 100px;
    float: left;
}

